<div class="row">
  <div class="col-12">
    <div class="navbar">
      <span>{{ modelData.folderPath }}</span>
    </div>

    <div class="filter-container">
      <div class="filter-section">
        <ng-select
          [items]="genderItems"
          bindLabel="name"
          bindValue="id"
          placeholder="Filter by gender"
          [(ngModel)]="selectedGender"
          [searchable]="true"
        ></ng-select>
    
        <ng-select
          [items]="countryItems"
          bindLabel="name"
          bindValue="id"
          placeholder="Filter by country"
          [(ngModel)]="selectedCountry"
          [searchable]="true"
        ></ng-select>
    
        <ng-select
          [items]="bodyTypeItems"
          bindLabel="name"
          bindValue="id"
          placeholder="Filter by body type"
          [(ngModel)]="selectedBodyType"
          [searchable]="true"
        ></ng-select>
    
        <ng-select
          [items]="skinColorItems"
          bindLabel="name"
          bindValue="id"
          placeholder="Filter by skin color"
          [(ngModel)]="selectedSkinColor"
          [searchable]="true"
        ></ng-select>
    
        <ng-select
          [items]="eyeColorItems"
          bindLabel="name"
          bindValue="id"
          placeholder="Filter by eye color"
          [(ngModel)]="selectedEyeColor"
          [searchable]="true"
        ></ng-select>
    
      </div>
      <button class="create-button">
        Create
        <span class="material-symbols-outlined"><mat-icon>add_circle</mat-icon></span>
      </button>
    </div>
    
    <div class="model-card">
      <div class="row">
        <div class="col-md-4 mb-3 model-image">
          <img [src]="modelData.imageUrl" alt="Model Image" class="img-fluid generated-image" />
        </div>
        <div class="col-md-5 mb-3 model-details">
          <div class="model-name">
            <h2>{{ modelData.name }}</h2>
            <p class="country">{{ modelData.country }}</p>
            <span class="badge">Model</span>
          </div>
          <div class="attribute-container">
            <div class="attribute">
              <label>Skin Color</label>
              <span class="skin-color">{{ modelData.skinColor }}</span>
            </div>
            <div class="attribute">
              <label>Eye Color</label>
              <span class="eye-color">{{ modelData.eyeColor }}</span>
            </div>
          </div>
          <div class="attribute-container">
            <div class="attribute">
              <label>Body Type</label>
              <span class="attribute-value">{{ modelData.bodyType }}</span>
              <p class="description">{{ modelData.bodyType.description }}</p>
            </div>
            <div class="attribute">
              <label>Image Type</label>
              <span class="attribute-value">{{ modelData.imageType }}</span>
              <p class="description">{{ modelData.imageType.description }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3 model-extra">
          <div class="model-clothing-type">
            <div class="attribute">
              <label>Gender</label>
              <span class="attribute-value">{{ modelData.gender }}</span>
            </div>
            <div class="attribute">
              <label>Clothing Type</label>
              <span class="attribute-value">{{ modelData.clothingType }}</span>
            </div>
            <div class="attribute">
              <label></label>
              <span class="attribute-value">{{ modelData.studio }}</span>
            </div>
          </div>
          <div class="btn-container">
            <button class="btn-save">Use</button>
            <button class="btn-generate">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
