.models-container {
  padding: 20px;
}

.navbar {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.filter-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

ng-select {
  width: 180px; /* Set your desired width */
}

/* Custom Button */
.create-button {
  display: flex;
  align-items: center;
  background-color: #000000;
  color: white;
  height: 40px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
}

.create-button .material-symbols-outlined {
  margin: 5px 0 0 5px;
}

.create-button:hover {
  background-color: #000000;
}


.model-card {
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 20px;
}

.model-image img {
  width: 100%;
  border-radius: 8px;
  text-align: center;
}

.model-details {
  flex-grow: 1;
  padding: 0 20px;
}

.model-details h2 {
  margin: 0;
  font-size: 2rem;
}

.country {
  margin: 0;
  font-size: 2rem;
  font-weight: 100;
  color: gray;
}

.badge {
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  background-color: #6f6f6f;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.model-details .attribute {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.model-extra .attribute {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.attribute-container {
  display: flex;
  gap: 30px;
}

.attribute label {
  font-weight: bold;
  font-size: 0.7rem;
}

.skin-color {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  background-color: #f0d5be;
}

.eye-color {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  background-color: #4682b4;
}

.attribute-value {
  font-weight: bold;
  font-size: 1.5rem;
  color: #222;
}

.description {
  font-size: 1rem;
  color: gray;
  margin-top: 5px;
}

.model-extra {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.model-clothing-type {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .btn-save,
  .btn-generate {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 65%;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

  .btn-save:hover,
  .btn-generate:hover {
    background-color: #000;
    color: #fff;
  }

  .btn-save:active,
  .btn-generate:active {
    background-color: #000;
    color: #fff;
  }
}


@media screen and (max-width: 1024px) {
  .filter-container{
    flex-direction: column;
  }

  .model-extra .attribute {
    align-items: flex-start;
  }

  .model-clothing-type{
    align-items: flex-start;
    margin-bottom: 30px;
  }
  
  .btn-container {
    align-items: center;

  }
}
