<div class="row create-garments">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4">
        <div class="gender-check-container">
          <h3>Gender</h3>
          <div class="container-gender-check">
            <div class="form-check gender-check">
              <input type="radio" id="male" name="gender" value="male" />
              <label for="male" class="gender-label">Male</label>
            </div>
            <div class="form-check gender-check">
              <input type="radio" id="female" name="gender" value="female" />
              <label for="female" class="gender-label">Female</label>
            </div>
            <div class="form-check gender-check">
              <input type="radio" id="third-gender" name="gender" value="third-gender" />
              <label for="third-gender" class="gender-label">Third Gender</label>
            </div>
          </div>
        </div>
        <div class="clothing-type-container">
          <h3>Clothing Type</h3>
          <div class="container-clothing-type">
            <div class="clothing-type">
              <input type="radio" id="t-shirt" name="clothing-type" />
              <label for="t-shirt">T-Shirt</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="polo" name="clothing-type" />
              <label for="polo">Polo</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="dress" name="clothing-type" />
              <label for="dress">Dress</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="sweaters" name="clothing-type" />
              <label for="sweaters">Sweaters</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="henley" name="clothing-type" />
              <label for="henley">Henley</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="jeans" name="clothing-type" />
              <label for="jeans">Jeans</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="chinos" name="clothing-type" />
              <label for="chinos">Chinos</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="shorts" name="clothing-type" />
              <label for="shorts">Shorts</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="joggers" name="clothing-type" />
              <label for="joggers">Joggers</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="suits" name="clothing-type" />
              <label for="suits">Suits</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="tuxedos" name="clothing-type" />
              <label for="tuxedos">Tuxedos</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="blazers" name="clothing-type" />
              <label for="blazers">Blazers</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="jackets" name="clothing-type" />
              <label for="jackets">Jackets</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="coats" name="clothing-type" />
              <label for="coats">Coats</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="sweatshirt" name="clothing-type" />
              <label for="sweatshirt">Sweatshirt</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="vests" name="clothing-type" />
              <label for="vests">Vests</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="sneakers" name="clothing-type" />
              <label for="sneakers">Sneakers</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="boots" name="clothing-type" />
              <label for="boots">Boots</label>
            </div>
            <div class="clothing-type">
              <input type="radio" id="sandals" name="clothing-type" />
              <label for="sandals">Sandals</label>
            </div>
          </div>
        </div>
        <div class="cloting-description-container">
          <textarea placeholder="Describe the clothing..." class="cloting-description"></textarea>
        </div>
        <div class="submit-btn-container">
          <h4>Save the Prompt</h4>
          <div class="container-submit-btn">
            <button class="btn-save">Save</button>
            <button class="btn-generate">Generate</button>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <img [src]="imageUrl" alt="Generated Image" class="img-fluid generated-image" />
      </div>
    </div>
  </div>
</div>
