.b-brand {
  text-decoration: none;
  color: #6f6f6f;
  font-size: 30px;
  font-weight: 500;
  border: 1px solid #5d5d5d;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  margin-left: -10px;
  font-family: 'Jost', sans-serif;
}
