.create-model {
  input[type='radio'] {
    display: none;
  }

  input[type='radio']:checked + label {
    background-color: #424242;
    color: white;
  }

  .form-tag-large {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 5px 0;
  }

  .gender-check-container {
    margin-bottom: 20px;

    .container-gender-check {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      max-width: 100%;
      margin: 0 auto;

      .gender-check {
        padding-left: 0;
      }

      .gender-check input[type='radio'] {
        display: none;
      }

      .gender-check input[type='radio'] + .gender-label {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start; /* Ensure the text is aligned properly */
        width: 100%; /* Set desired width */
        height: 40px; /* Set desired height */
        cursor: pointer;
        font-size: 16px;
        border: 2px solid #000;
        border-radius: 5px;
        padding-left: 10px; /* Adjust padding to your preference */
        box-sizing: border-box;
        transition:
          border-color 0.3s,
          color 0.3s;
      }

      .gender-check input[type='radio']:checked + .gender-label {
        border-color: black;
        color: black;
        background-color: #ffffff;
      }

      .gender-check input[type='radio'] + .gender-label::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 2px solid #000;
        border-radius: 3px;
        margin-right: 8px;
        box-sizing: border-box;
        transition: background-color 0.3s;
      }

      .gender-check input[type='radio']:checked + .gender-label::before {
        content: '\2713'; /* Unicode character for checkmark */
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        color: #fff;
        font-size: 16px;
        line-height: 1;
      }
    }
  }

  .origin-country-container {
    margin-bottom: 20px;

    .container-origin-country {
      position: relative;
      border: 2px solid #000000;
      display: flex;
      align-items: center;
      border: 2px solid #a7a7a7;
      border-radius: 5px;
      padding: 5px;
      width: 100%;

      .origin-country-selector {
        border: none;
        outline: none;
        flex: 1;
        padding: 5px;
      }

      .clear-button {
        border: none;
        background: none;
        cursor: pointer;
        font-size: 16px;
      }

      .suggestions-list {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        border: 1px solid #ccc;
        border-top: none;
        max-height: 150px;
        overflow-y: auto;
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 1000;
      }

      .suggestions-list li {
        padding: 8px;
        cursor: pointer;
      }

      .suggestions-list li:hover {
        background: #f0f0f0;
      }
    }

    .container-origin-country .icon {
      margin-right: 8px;
    }
  }

  .skin-color-container {
    margin-bottom: 20px;

    .container-skin-color {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      max-width: 100%;
      margin: 0 auto;

      .skin-color-check {
        padding-left: 0;
      }

      .skin-color-check input[type='radio'] {
        display: none;
      }

      .skin-color-check label {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        background-color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        border: 1px solid black;
        position: relative;
      }

      .skin-color-check label .color-box {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: inherit;
      }

      .skin-color-check input[type='radio']:checked + label {
        background-color: #3e3c3c;
        color: rgb(255, 242, 242);
        border: 2px solid black;
      }
    }
  }

  .body-type-container {
    margin-bottom: 20px;

    .container-body-type {
      display: flex;
      flex-direction: column;
    }

    .body-type label {
      display: flex;
      align-items: center; /* Center the content vertically */
      width: 100%;
      height: 45px;
      padding: 10px;
      border: 2px solid #000;
      border-radius: 5px;
      cursor: pointer;
      transition:
        background-color 0.3s,
        color 0.3s;
      box-sizing: border-box; /* Ensure padding is included in the width */
    }

    input[type='radio']:checked + .body-type {
      background-color: #424242;
      color: #fff;
      border-color: #424242;
    }

    .body-type span {
      font-size: 17px; /* Adjust font size if necessary */
      width: 40%;
      line-height: 1;
    }

    .body-type p {
      margin: 0;
      font-size: 10px; /* Adjust font size */
      line-height: 1.1; /* Adjust line height for better text fitting */
      text-align: left; /* Align text to the left */
      flex: 1; /* Allow p to take up the remaining space */
    }
  }

  .image-type-container {
    margin-bottom: 20px;

    .container-image-type {
      display: flex;
      flex-direction: column;
    }

    .image-type label {
      display: flex;
      align-items: center; /* Center the content vertically */
      width: 100%;
      height: 45px;
      padding: 10px;
      border: 2px solid #000;
      border-radius: 5px;
      cursor: pointer;
      transition:
        background-color 0.3s,
        color 0.3s;
      box-sizing: border-box; /* Ensure padding is included in the width */
    }

    input[type='radio']:checked + .image-type {
      background-color: #424242;
      color: #fff;
      border-color: #424242;
    }

    .image-type span {
      font-size: 17px; /* Adjust font size if necessary */
      width: 40%;
      line-height: 1;
    }

    .image-type p {
      margin: 0;
      font-size: 10px; /* Adjust font size */
      line-height: 1.1; /* Adjust line height for better text fitting */
      text-align: left; /* Align text to the left */
      flex: 1; /* Allow p to take up the remaining space */
    }
  }

  .clothing-type-container {
    margin-bottom: 20px;

    .container-clothing-type {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 4 items per row */
      gap: 7px; /* Space between items */
      max-width: 100%;
      margin: 0 auto;
    }

    .clothing-type {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .clothing-type input[type='radio'] {
      display: none; /* Hide the radio button */
    }

    .clothing-type label {
      display: inline-block;
      padding: 10px 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      width: 100%;
    }

    .clothing-type input[type='radio']:checked + label {
      background-color: #4a4a4a; /* Darker background for selected item */
      color: white;
      border-color: #4a4a4a;
    }
  }

  .cloting-description-container {
    margin-top: 20px;
    margin-bottom: 20px;

    .cloting-description {
      padding: 10px;
      resize: none;
      width: 100%;
      height: 80px;
      border-radius: 5px;
    }
  }

  .eye-color-container {
    margin-bottom: 20px;

    .container-eye-color {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      max-width: 100%;
      margin: 0 auto;

      .eye-color input[type='radio'] {
        display: none;
      }

      .eye-color label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        border: 1px solid var(--color, #291e1e);
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
        color: var(--color, #a52a2a);
        background-color: transparent;
      }

      .eye-color input[type='radio']:checked + label {
        background-color: var(--color, #f5f5f5);
        color: #fff;
      }

      .eye-color input[type='radio']:checked + label .color-box {
        background-color: #fff;
        border-color: #fff;
      }

      .color-box {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 10px;
        border-radius: 3px;
        border: 1px solid var(--color, #a52a2a);
      }
    }
  }

  .image-genre-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .img-genre-btn {
      border: 2px solid #5f5f5f;
      margin-right: 10px;
    }
  }

  .submit-btn-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .btn-save,
    .btn-generate {
      font-size: 16px;
      font-weight: bold;
      margin-right: 10px;
      padding: 10px 20px;
      border: 1px solid #000;
      border-radius: 5px;
      width: 100%;
      background-color: #fff;
      color: #000;
      cursor: pointer;
      transition:
        background-color 0.3s,
        color 0.3s;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    }

    .btn-save:hover,
    .btn-generate:hover {
      background-color: #000;
      color: #fff;
    }

    .btn-save:active,
    .btn-generate:active {
      background-color: #000;
      color: #fff;
    }
  }
}

@media screen and (max-width: 1024px) {
  .create-model {
    .clothing-type-container {
      .container-clothing-type {
        grid-template-columns: repeat(3, 1fr); /* 3 items per row */
      }
    }

    .image-genre-container {
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px; /* Space between buttons */
    }

    .submit-btn-container {
      flex-direction: column;
      gap: 10px; /* Space between buttons */
    }
  }
}
