body {
  font-family: 'Jost', sans-serif;
}

.folder-section {
  margin-bottom: 20px;
}

.folder-buttons {
  margin-top: 20px;
  display: flex;
  gap: 50px;
}

.folder-button {
  display: flex;
  align-items: center;
  width: 12.2rem;
  height: 55px;
  padding: 10px 20px;
  border: 1px solid #bebebe;
  background-color: #f9f9f9;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #bebebe;
  transition: background-color 0.3s ease;
}

.folder-button:hover {
  background-color: #f0f0f0;
}

.folder-name {
  font-size: 16px;
  margin-left: 18px;
}

.garments-section {
  margin: 20px;
  margin-top: 40px;
}

.garments {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.garment-card {
  border: 1px solid #efefef;
  padding: 10px;
  width: 200px;
  background-color: #efefef;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.garment-image {
  width: 100%;
  height: 200px;
}

.garment-details {
  text-align: left;
}

.garment-name {
  font-weight: bold;
  margin: 10px 0;
}

.garment-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.edit-button,
.change-button {
  background-color: #af9d7f;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  float: right;
}

.edit-button:hover,
.change-button:hover {
  background-color: #a48e67;
}

.edit-button {
  background-color: #af9d7f;
}

.edit-button:hover {
  background-color: #a48e67;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  margin: 7px;
}

.image-section {
  border-radius: 8px;
  background-color: #efefef;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-details {
  background-color: #efefef;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 8px;
}

.breadcrumbs {
  font-size: 14px;
  color: #888888;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin: 0 0 10px;
}

.tags {
  gap: 10px;
}

.ai-generated-tag {
  background-color: #af9d7f !important;
  color: white;
}

.tags span {
  background-color: #dddddd;
  border-radius: 16px;
  padding: 5px 10px;
  font-size: 12px;
  margin: 2px;
}

.change-button {
  background-color: #c0a174;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.change-button:hover {
  background-color: #a4865b;
}
